@import url('https://fonts.googleapis.com/css2?family=Playwrite+PE:wght@100..400&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Work Sans", sans-serif;
    background: #F2F2F2;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    /* border: 1px solid green;  */
}


.titulo {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    /* border: 1px solid blue; */
}

.titulo h1 {
    font-family: "Playwrite PE", cursive;
    color: black;
    font-size: 34px;
}

.botaoNovaAtividade{
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

.novaAtividade {
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
    /* border: 1px solid red; */
}

.oculto{
    display: none;
}

.novaAtividade input{
    margin-top: 5px;
    font-size: 16px;
    padding: 10px 10px 10px 15px;
    border-radius: 3px;
    width: 100%;
}

.novaAtividade textarea{
    margin-top: 5px;
    width: 100%;
    padding: 10px 10px 10px 15px;
    height: 150px;
    border-radius: 3px;

}

.tituloNovaAtividade{
    width: 79%;
}
.dataNovaAtividade{
    width: 20%;
}

.bnt-generico {
    width: 10%;
    cursor: pointer;
    background: rgb(33, 33, 102);
    color: white;
    font-weight: bold;
    margin-top: 10px;
    border: none;
    height: 35px;
    border-radius: 5px;
}

.bnt-generico:hover {
    opacity: 0.8;
}

.bnt-delete {
    text-decoration: none;
    cursor: pointer;
    border-style:none;
    background: white;
    color:rgb(33, 33, 102);
}

.bnt-delete:hover{
    color: rgb(182, 1, 1);
}

.required{
    color: rgb(182, 1, 1);
    font-size: 12px;
}

.quadro {
    
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red;  */
}

.quadroConteudo {
    /* border: 1px solid purple; */
    background: white;
    height: 600px;
    border-radius: 10px;
    overflow-y: auto;
    
}

.conteudoTituloQuadro {
    border-radius: 10px;
    display: flex;
    color: white;
    justify-content: center;
    padding-left: 10px;
    align-items: center;
    /*border: 1px solid orangered; */
}

.quadroEtapa{
    width: 33%;
}

#tituloToDo {
    background: #2D9BF0;
}

#tituloInProgress {
    background: #EEBD0A;
}

#tituloDone {
    background: #21933B;
}

.conteudo {
    margin: 8px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px grey;
    padding-bottom: 10px;
    /* border: 1px solid red; */
}

.headerConteudo{
    display: flex;
    justify-content: space-between;

}

.headerConteudo a{
    cursor: pointer;

}

.tituloConteudo{
    font-weight: 600;
    font-size: 18px;
    /* border: 1px solid blue; */
}

.descricaoConteudo{
    margin-top: 5px;
    font-size: 15px;
    min-height: 100px;
    height: auto;
    text-align: justify;
    white-space: normal;
    /* border: 1px solid green; */
}

.dataConteudo {
    margin-top: 5px;
    font-size: 15px;
}

.conteudoToDo {
    border-bottom: 5px solid #2D9BF0;
}

.conteudoInProgress {
    border-bottom: 5px solid #EEBD0A;
}

.conteudoDone {
    border-bottom: 5px solid #21933B;   
}

.botaoConteudo{
    width: 100%;
    justify-content: space-between;
    display: flex;
}

.botaoConteudo button{
    width: 30%;
}